* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

/* navbar */
#navbar{
    display: grid;
    width: 100vw;
    grid-template-columns: 10% 70% 20%;
}

#navbar .logo{
    display: flex;
    align-items: center;
}

#navbar_list{
    height: 10vh;
    display: flex;
    align-items: center;
    
    justify-content: space-around;
    box-shadow: #aaaaaa 0 2px 2px;

}
#navbar_list a {
    
    align-items: center;
    color: black;
    text-transform: capitalize;
}

#navbar_list a:hover {
    
    height: 10vh;
    background: #eeeeee;
}

a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account {
    display: flex;
    height: 10vh;
    padding: 0 1rem;
    box-shadow: #aaaaaa 0 2px 2px;
    flex-direction: column;
    justify-content: center; /* Đặt menu ở đầu trục chính (chiều dọc) */
}

.menu {
    display: none;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: auto;
    width: 20vw;
}

.menu a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
    
}

.menu a:hover {
    background-color: #ddd;
}

.trigger {
    display: flex;
    gap: 1vw;
    cursor: pointer;
}
.trigger:hover + .menu,
.menu:hover {
    display: block;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #aaaaaa 0 2px 2px;
}

img {
    max-height: 10vh;
}
/* navbar */

#user-form-container {
    display: flex;
    padding: 3rem;
}

#ticket-info {
    margin: 1rem;
    padding-left: 3rem;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user-form {
    display: flex;
    flex-direction: column;
    width: 60vw;
}
#input-all{
    display: flex;
    flex-direction: row;
}
#text-bonus {
    width:50% !important;
    
}
#checkbox-bonus{
    width:2rem !important ;
}
input {
    margin-bottom: 1rem;
    height: 2rem;
    width: 80%;
}

a {
    text-decoration: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 77.5%;
    margin: 0.5rem;
    background: #3399cc;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    
}

button:hover {
    background: #52a3cc;
    cursor: pointer;
}

