h1 {
    color: red;
}

#tickets {
    padding: 0;
    width: 100%;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

a.disabled {
    color: #aaaaaa;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}