* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

#navbar {
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
    box-shadow: #aaaaaa 0 2px 2px;
}

#navbar a {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-transform: capitalize;
}

#navbar a:hover {
    background: #eeeeee;
}

#flight-info {
    margin: 1rem;
}

a {
    text-decoration: none;
}

ul {
    display: grid;
    margin: 1rem;
    width: 50vw;
    height: 20vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
    background: #3399cc;
    color: white;
    
}

ul a:hover {
    background: #52a3cc;
    cursor: pointer;
}

a.disabled {
    background: #aaaaaa;
    color: black;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 10rem;
    margin: 1.5rem;
    background: #3399cc;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
}