body{
    background:#eee;
    }
    .separator {
        border-right: 1px solid #dfdfe0; 
    }
    .icon-btn-save {
        padding-top: 0;
        padding-bottom: 0;
    }
    .input-group {
        margin-bottom:10px; 
    }
    .btn-save-label {
        position: relative;
        left: -12px;
        display: inline-block;
        padding: 6px 12px;
        background: rgba(0,0,0,0.15);
        border-radius: 3px 0 0 3px;
    }
    #changeMain{
      width: 50vw;
    }
    #mainContent{
      width: 50vw;
      display: flex;
      justify-content: space-between;
    }
    #imageChange{
      width: 30%;
    }
    #mainInfo{
      width: 70%;
    }
    #noti{
      display: none;
      color: red;
    }
    #tick{
    display: none;
    }
    #pass_show{
      display: grid;
    grid-template-columns: 10% auto 10%;
    }
    #pass_c{
      width: 3.3vw;
    }
    .ptxt{
      background-color: #eee;
    border: 1px solid #ccc;
     display: flex;
     align-items: center; 
  }