<!DOCTYPE html>
<html>
    <body>
        <div id="ticket-info">
            
        </div>
        <div id="user-form">
            user form here
        </div>
    </body>
    <script>
        const url = window.location.pathname;
        const id = url.split("/")[2];

        function renderTicket(ticket) {
            const ticketInfo = document.getElementById("ticket-info");
            for (let key in ticket) {
                const div = document.createElement("div");
                div.className = "ticket-info-column";
                div.innerHTML = ticket[key];
                ticketInfo.appendChild(div);
            }
        }

        fetch(`/ticket/${id}`, {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            const ticket = JSON.parse(data)[0];
            renderTicket(ticket);
        })
    </script>
</html>