<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../static/buy.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <body>
        <div id="navbar">
            <div class="mainNav">
                <div class="logo">
                    <a href="http://localhost:8001">
                        <img src="https://img.freepik.com/premium-vector/eagle-logo-design_7888-349.jpg?w=2000" ></img>
                    </a>
                </div>
                
                <div id="navbar_list">
                    
                    <a href="http://localhost:8001">home</a>
                    <a href="http://localhost:8001/login" class="auth">login</a>
                    <a href="http://localhost:8001/register" class="auth">register</a>
                    <a href="http://localhost:8001/inventory" class="nav">inventory</a>
                    <a href="http://localhost:8001/notifications" class="nav">notifications(<span id="unread"></span>)</a>
                
                </div>
             </div>

            <div  id="account" class="nav">
                <div id="trigger"class="trigger" >
                    <div class="hello">
                        <h1>Hello <span id="email"></span></h1>
                    </div>
                    <div class="infoUser">
                        <div>Balance: $<span id="money"></span></div>
                        <div>Bonus: <span id="bonus"></span></div>
                    </div>
                </div>
                <div id="menu" class="menu"><a href="http://localhost:8001" onclick="logout()" >logout</a></div>

            </div> 
        </div>

        <section id="user-form-container">
            <div id="ticket-info">
                <div class="ticket-info-column">Flight: <span id="flight"></span></div>
                <div class="ticket-info-column">From: <span id="from"></span></div>
                <div class="ticket-info-column">To: <span id="to"></span></div>
                <div class="ticket-info-column">Date: <span id="date"></span></div>
                <div class="ticket-info-column">Time: <span id="time"></span></div>
                <div class="ticket-info-column">Price: <span id="price"></span></div>
            </div>
            <div id="user-form">
                <label for="number">Credit Card</label>            
                <input type="text" name="number" id="number">

                <label for="number">Expiration Date</label>    
                <input type="date" name="expiration-date" id="expiration-date">

                <label for="security-code">Security Code</label>    
                <input type="text" name="security-code" id="security-code">

                <label for="full-name">Card Holder Name</label>
                <input type="text" name="full-name" id="full-name">
                <div id="bonus-all">
                    <label for="text-bonus">
                        Bonus:
                    </label>
                    <div id="input-all">    
                        <input type="text" name="text-bonus" id="text-bonus">
                        
                        <input type="checkbox" name="checkbox-bonus" id="checkbox-bonus">
                    </div>    
                </div>
                <button type="button" onclick="submit()" id="submit-button">Submit</button>
            </div>
        </section>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://smtpjs.com/v3/smtp.js"></script>

    </body>
    <script>
        //navbar
        const email = localStorage.getItem("email");
        fetch(`/user/${email}`, {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            user = JSON.parse(data);
           
           localStorage.setItem('roll',user[0].type);
        })
      const roll =localStorage.getItem('roll');

        if(roll==1){
            window.location.replace('http://localhost:8001/manage/flights');
        }
        const authElements = document.querySelectorAll(".auth");
        const navElements = document.querySelectorAll(".nav");
        if (email != "" && email != null) {
            document.getElementById("email").innerHTML = email;
            authElements.forEach(item => item.style.display = "none");
           

            fetch(`/unread/${email}`, {
                method: "GET",
            })
            .then(response => {
                return(response.text());
            })
            .then(data => {
                const user = JSON.parse(data)[0];
                const unread = document.getElementById("unread");
                unread.innerText = user.count;
            })
            fetch(`/user/${email}`, {
            method: "GET"
        })
        .then(response => {
            return response.text();
        })
        .then(data => {
            const user = JSON.parse(data)[0];
            const money = document.getElementById("money");
            money.innerText = user.money;
            const bonus=document.getElementById("bonus");
            bonus.innerText=user.bonus;
        })

        }
        else {
            authElements.forEach(item => item.style.display = "flex");
            navElements.forEach(item => item.style.display = "none");
        }
        // hien thi logout
        let checkMenu=false;
        document.getElementById("trigger").addEventListener('click',function() {
            checkMenu=!checkMenu;
            if(checkMenu===true){
                document.getElementById("menu").style.visibility="visible";
            }
            else{
                document.getElementById("menu").style.visibility="hidden";
            }

        });
        // xoa data nguoi dung duoc luu trong ls
        function logout() {
            localStorage.clear();
        }
        // xoa LocalStorage.item ticket_id_old 
        localStorage.removeItem('ticket_id_old');

        //

        const url = window.location.pathname;
        const id = url.split("/")[2];
        let ticket = null;
        let bonusCheck=0;
        let moneyCheck=0;
        function renderTicket(ticket) {
            const ticketInfo = document.getElementById("ticket-info");
            document.getElementById("flight").innerText = ticket.flight_id;
            document.getElementById("from").innerText = ticket.from;
            document.getElementById("to").innerText = ticket.to;
            document.getElementById("date").innerText = ticket.date;
            document.getElementById("time").innerText = ticket.time;
            document.getElementById("price").innerText = ticket.price;
        }

        fetch(`/ticket/${id}`, {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            // console.log(data);
            ticket = JSON.parse(data)[0];
            renderTicket(ticket);
        })

        fetch(`/unread/${email}`, {
            method: "GET",
        })
        .then(response => {
            return (response.text());
        })
        .then(data => {
            console.log(data);
            const unread = document.getElementById("unread");
            unread.innerText = JSON.parse(data)[0].count;
        })

        // control the input bonus
        // Lắng nghe sự kiện khi ô đánh dấu thay đổi
        document.getElementById('checkbox-bonus').checked=false;
        document.getElementById('text-bonus').disabled=true;
        let result =false;
        document.getElementById('checkbox-bonus').addEventListener('change', function() {
        // Khi ô đánh dấu thay đổi, kích hoạt hoặc vô hiệu hóa trường nhập văn bản
        document.getElementById('text-bonus').disabled = !this.checked;
        result=!result;
  });
   // khi nhap vao o , lay gia tri khi nhap vao hoac thay doi 
   document.getElementById('text-bonus').addEventListener('change', function() {
        // Khi ô đánh dấu thay đổi, kích hoạt hoặc vô hiệu hóa trường nhập văn bản
        var bonus1= parseInt(document.getElementById('text-bonus').value,10);
        if(result===true&&isNaN(bonus1)===false){
            
            fetch(`/user/${email}`, {
            method: "GET"
            })
            .then(response => {
                return response.text();
            })
            .then(data => {
                const user = JSON.parse(data)[0];
                var bonus=parseInt(user.bonus,10);
            
               console.log(`huhu ${bonus1} va ${bonus}`);
                if(bonus1>bonus){
                    alert('nhap lai');
                }
                else{
                    bonusCheck=bonus1;
                    moneyCheck=parseFloat(-bonus1*1.0);
                    console.log(`haha2 ${bonus1} va ${moneyCheck} va ${typeof moneyCheck}`);
                }
                
            });
        }
        else{
            alert("nhap lai");
        }
  });
        
   // gui email
   function emailSend(email,content,dateString,timeString){
        Email.send({
            Host : "smtp.elasticemail.com",
            Username : "jadeuma235@gmail.com",
            Password : "CB0F1191C63097515935CD75726D0430C710",
            To : email,
            From : "jadeuma235@gmail.com",
            Subject : `Already Buy an airplane ticket date: ${dateString} time : ${timeString}` ,
            Body : content,
            }).then(
            message => {

                console.log(message);
            
            }
        );
    }
    //update bonus
        function updateBonus(email,bonus){
            fetch('/bonus',{
                    method: "PUT",
                    headers: {
                        "Content-Type": "text/html"
                    },
                    body: 
                        `email=${email}&bonus=${bonus.toString()}`
                    });

        }
    //update money
        function updateMoney(email,money){
            fetch('/money',{
                    method: "PUT",
                    headers: {
                        "Content-Type": "text/html"
                    },
                    body: 
                        `email=${email}&money=${money.toString()}`
                    });

        };

        function submit() {
           
            const email = localStorage.getItem("email");
            if (email == null) {
                window.location = "http://localhost:8001/login";
                return;
            }
            let number = document.getElementById("number").value;
            let expirationDate = document.getElementById("expiration-date").value;
            let securityCode = document.getElementById("security-code").value;
            let fullName = document.getElementById("full-name").value;
            
            console.log(`number: ${number}\nexpirationDate: ${expirationDate},\nsecurityCode: ${securityCode}\nfullName: ${fullName}`);
        

            const content = `Boarding pass confirmed\\nDear ${email},\\nCongratulations! Your boarding pass for ${ticket.airline}, Flight #${ticket.flight_id}, departing on ${ticket.date} at ${ticket.time}, from ${ticket.from} to ${ticket.to} has been secured. Your seat: ${ticket.seat}.\\nSafe travels!\\n\\nYour boarding pass number: ${ticket.ticket_id}`;

            const date = new Date();
            const dateString = date.toISOString().split('T')[0];
            const timeString = date.toLocaleTimeString('en-US', {
                hour12: false,
                hour: "numeric",
                minute: "numeric"
            });

            const requestOptionsNotification = {
                method: "POST",
                headers: {
                    "Content-Type": "text/html"
                },
                body: 
                    `email=${email}&content=${content}&date=${dateString}&time=${timeString}`
            };

             emailSend(email,content,dateString,timeString);
            
           
            fetch(`/user/${email}`, {
            method: "GET"
            })
            .then(response => {
                return response.text();
            })
            .then(data => {
                const user = JSON.parse(data)[0];
                let bonusAll=parseInt(user.bonus,10)+Math.floor(ticket.price/100)-bonusCheck;
                let moneyAll=moneyCheck;
                console.log(`tong ${user.bonus} va ${ticket.price/100} va ${bonusCheck} va ${bonusAll}`);
                console.log(`saasa ${moneyAll}`);
                updateBonus(email,bonusAll);
                updateMoney(email,moneyAll);
            });

            fetch("/own", {
                method: "POST",
                headers: {
                    "Content-Type": "text/html"
                },
                body: 
                    `email=${email}&ticket_id=${id}&full_name=${fullName}&number=${number}&security_code=${securityCode}&expiration_date=${expirationDate}&book_date=${dateString}`
            })
            .then(response => {
                return(response.status);
            })
            .then(status => {
                if (status == 200) {
                    fetch("/notification", requestOptionsNotification)
                    .then(response => {
                        return(response.status);
                    })
                    .then(status => {
                        if (status == 200) {
                            
                    swal("Successful", "You have a new notification!", "success");
                   const result= document.querySelector(".swal-button");
                       result.addEventListener('click',function () {
                        window.location.replace("http://localhost:8001/notifications");
                       });
                }
                    })
                }
                else {
                    
                    swal("Error", "You clicked the button!", "error");
                }
            })
            
            
        
            
        }
     

    </script>
</html>