<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/change_password.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


  <div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
            <div class="panel panel-info" id="changeMain">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-th"></span>
                        Change password   
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row" id="mainContent">
                        <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box" id="imageChange"> <br>
                           <img alt="" class="img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar1.png">                        
                        </div>
                        <div  class="col-xs-6 col-sm-6 col-md-6 login-box" id="mainInfo">

                         <div class="form-group">
                          <label  >Current password </label>
                            <div class="input-group">
                              <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                              <input id="currentPass" class="form-control" type="text" placeholder="Current password" >
                             
              
                          
                            </div>
                          </div>
                          <div class="form-group">
                            <label  >New Password</label>
                            <div class="input-group pass_show" id="pass_show">
                              <div class="input-group-addon" id="pass_c"><span class="glyphicon glyphicon-log-in"></span></div>
                              <input id="newPass" class="form-control" type="password" placeholder="New Password">
                            </div>
                          </div>
                          <div class="form-group">
                            <label  >Confirm Password</label>
                            <div  class="input-group pass_show" id="pass_show">
                              
                              <div class="input-group-addon"id="pass_c"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                              </svg></div>
                              <input id="confirmPass"class="form-control" type="password" placeholder="Confirm Password">
                            </div>
                          </div>
                          <div id="noti"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6"></div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button  id="save" class="btn icon-btn-save btn-success" type="submit" >
                            <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
  const email =localStorage.getItem('email');
  //pass show
  $(document).ready(function(){
$('.pass_show').append('<span class="ptxt">Show</span>');  
});
  

$(document).on('click','.pass_show .ptxt', function(){ 

$(this).text($(this).text() == "Show" ? "Hide" : "Show"); 

$(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 

});

  const noti=document.getElementById('noti');
  //hienthi thong bao
  function showNoti(content){
    noti.style.display="block";
    noti.innerHTML=content;
  }
  //changePass
  function changePass(email,newPass){
    fetch('/password',{
          method: "PUT",
          headers: {
                        "Content-Type": "text/html"
            },
                    body: 
                        `email=${email}&password=${newPass}`
                    });
                    swal("Successful", "Already reset your password", "success");
                   const result= document.querySelector(".swal-button");
                       result.addEventListener('click',function () {
                        window.location.replace("http://localhost:8001/login");
                       });
          

  }
    
    const save=document.getElementById('save');
    save.addEventListener('click',function() {
      const currentPass=document.getElementById('currentPass').value;
      const newPass=document.getElementById('newPass').value;
      const confirmPass=document.getElementById('confirmPass').value;
      let content="";
        fetch(`/user/${email}`, {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
  
            user = JSON.parse(data);
            if(user.length===0){
              content="Wrong email!"
              showNoti(content);
            }
          else{
            if(currentPass!==user[0].password){
              content="Password is wrong!"
              showNoti(content);
            }
            else{
              if(newPass===''){
                content="Phai nhap mat khau moi"
                showNoti(content);
              }
              else{
              if(newPass!==confirmPass){
                content="Confirm password is differnt from New password!"
                showNoti(content);
              }
              else{
                changePass(email,newPass);
              }
            }
            }
          }
        })
    })

</script>
</body>
</html>