<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../static/flight.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <body>
        <div id="navbar">
            <div class="mainNav">
                <div class="logo">
                    <a href="http://localhost:8001">
                        <img src="https://img.freepik.com/premium-vector/eagle-logo-design_7888-349.jpg?w=2000" ></img>
                    </a>
                </div>
                
                <div id="navbar_list">
                    
                    <a href="http://localhost:8001">home</a>
                    <a href="http://localhost:8001/login" class="auth">login</a>
                    <a href="http://localhost:8001/register" class="auth">register</a>
                    <a href="http://localhost:8001/inventory" class="nav">inventory</a>
                    <a href="http://localhost:8001/notifications" class="nav">notifications(<span id="unread"></span>)</a>
                
                </div>
             </div>

            <div  id="account" class="nav">
                <div id="trigger"class="trigger" >
                    <div class="hello">
                        <h1>Hello <span id="email"></span></h1>
                    </div>
                    <div class="infoUser">
                        <div>Balance: $<span id="money"></span></div>
                        <div>Bonus: <span id="bonus"></span></div>
                    </div>
                </div>
                <div id="menu" class="menu"><a href="http://localhost:8001" onclick="logout()" >logout</a>
                    <a href="http://localhost:8001/changepass"> Change password</a></div>

            </div> 
        </div>
        <div id="main">
        <div id="flights-info">
            <div id="flight-info">
                <div class="flight-info-column">Flight: <span id="flight"></span></div>
                <div class="flight-info-column">From: <span id="from"></span></div>
                <div class="flight-info-column">To: <span id="to"></span></div>
                <div class="flight-info-column">Airline: <span id="airline"></span></div>
                <div class="flight-info-column">Date: <span id="date"></span></div>
                <div class="flight-info-column">Time: <span id="time"></span></div>
            </div>
            <ul id="tickets"></ul>
            
        </div>
        <div id="ticket-information" >
            <div id="ticket-old">
                <h1 style="color: red;">Old Ticket</h1>
                <div>Flight: <span id="flightOld"></span></div>
                <div>From: <span id="fromOld"></span></div>
                <div>To: <span id="toOld"></span></div>
                <div>Date: <span id="dateOld"></span></div>
                <div>Time: <span id="timeOld"></span></div>
                <div>Airline: <span id="airlineOld"></span></div>
                <div>Ticket: <span id="ticketOld"></span></div>
                <div>Seat: <span id="seatOld"></span></div>
                <div>Price: <span id="priceOld"></span></div>
            </div>
            <div id="image"><img src="https://icons.veryicon.com/png/o/miscellaneous/simple-icon/exchange-14.png"/></div>
            <div id="ticket-new">
                <h1 style="color: green;"> New Ticket</h1>
                <div>Flight: <span id="flightNew"></span></div>
                <div>From: <span id="fromNew"></span></div>
                <div>To: <span id="toNew"></span></div>
                <div>Date: <span id="dateNew"></span></div>
                <div>Time: <span id="timeNew"></span></div>
                <div>Airline: <span id="airlineNew"></span></div>
                <div>Ticket: <span id="ticketNew"></span></div>
                <div>Seat: <span id="seatNew"></span></div>
                <div>Price: <span id="priceNew"></span></div>
            </div>
        </div>
    </div>
        <button id="exchange"> Exchange </button>
    </body>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://smtpjs.com/v3/smtp.js"></script>


    <script>
        //navbar
        const email = localStorage.getItem("email");
        fetch(`/user/${email}`, {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            user = JSON.parse(data);
           
           localStorage.setItem('roll',user[0].type);
        })
      const roll =localStorage.getItem('roll');

        if(roll==1){
            window.location.replace('http://localhost:8001/manage/flights');
        }
        const authElements = document.querySelectorAll(".auth");
        const navElements = document.querySelectorAll(".nav");
        if (email != "" && email != null) {
            document.getElementById("email").innerHTML = email;
            authElements.forEach(item => item.style.display = "none");
           

            fetch(`/unread/${email}`, {
                method: "GET",
            })
            .then(response => {
                return(response.text());
            })
            .then(data => {
                const user = JSON.parse(data)[0];
                const unread = document.getElementById("unread");
                unread.innerText = user.count;
            })
            fetch(`/user/${email}`, {
            method: "GET"
        })
        .then(response => {
            return response.text();
        })
        .then(data => {
            const user = JSON.parse(data)[0];
            const money = document.getElementById("money");
            money.innerText = user.money;
            const bonus=document.getElementById("bonus");
            bonus.innerText=user.bonus;
        })

        }
        else {
            authElements.forEach(item => item.style.display = "flex");
            navElements.forEach(item => item.style.display = "none");
        }
        // hien thi logout
        let checkMenu=false;
        document.getElementById("trigger").addEventListener('click',function() {
            checkMenu=!checkMenu;
            if(checkMenu===true){
                document.getElementById("menu").style.visibility="visible";
            }
            else{
                document.getElementById("menu").style.visibility="hidden";
            }

        });
        // xoa data nguoi dung duoc luu trong ls
        function logout() {
            localStorage.clear();
        }
        //
   
    const url = window.location.pathname;
    const id = url.split("/")[2];
    const old_id_string = localStorage.getItem('ticket_id_old');
    
    let new_id_string='' ;
    const exchange_div=document.querySelector('#exchange');
    let tickets = [];
    let filteredTickets = [];
    exchange_div.style.display='none';
    
// 1. xu ly trang flight cua flow mua ve  
    // gui email
   function emailSend(email,content,dateString,timeString){
        Email.send({
            Host : "smtp.elasticemail.com",
            Username : "jadeuma235@gmail.com",
            Password : "CB0F1191C63097515935CD75726D0430C710",
            To : email,
            From : "jadeuma235@gmail.com",
            Subject : `Already Exchange an airplane ticket date: ${dateString} time : ${timeString}` ,
            Body : content,
            }).then(
            message => {

                console.log(message);
            
            }
        );
    }
    //function ownOldToNew
    function ownOldToNew(new_id_string){
        const email = localStorage.getItem("email");
        if (email == null) {
            window.location = "http://localhost:8001/login";
            return;
        }
        console.log(`owntonew old_id :${old_id_string}`);
      
        fetch(`/own/${old_id_string}`, {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            
            var own_data = JSON.parse(data);
            
            var number=own_data[0].number;
            var expirationDate=own_data[0]['expiration_date'];
            var securityCode=own_data[0]['security_code'];
            var fullName=own_data[0]['full_name'];
            
            const requestOptionsOwn = {
                method: "POST",
                headers: {
                    "Content-Type": "text/html"
                },
                body: 
                    `email=${email}&ticket_id=${new_id_string}&full_name=${fullName}&number=${number}&security_code=${securityCode}&expiration_date=${expirationDate}`
            }
            fetch(`/ticket/${new_id_string}`, {
            method: "GET",
            })
             .then(response => {
                     return(response.text());
             })
            .then(data => {
            // console.log(data);
                const ticket = JSON.parse(data)[0];
                console.log(`hahaha  email=${email}&ticket_id=${id}&full_name=${fullName}&number=${number}&security_code=${securityCode}&expiration_date=${expirationDate} `);
            const content = `Exchange ticket confirmed\\nDear ${email},\\nCongratulations! Your boarding pass for ${ticket.airline}, Flight #${ticket.flight_id}, departing on ${ticket.date} at ${ticket.time}, from ${ticket.from} to ${ticket.to} has been secured. Your seat: ${ticket.seat}.\\nSafe travels!\\n\\nYour boarding pass number: ${ticket.ticket_id}`;
    
            const date = new Date();
            const dateString = date.toISOString().split('T')[0];
            const timeString = date.toLocaleTimeString('en-US', {
                hour12: false,
                hour: "numeric",
                minute: "numeric"
            });

            const requestOptionsNotification = {
                method: "POST",
                headers: {
                    "Content-Type": "text/html"
                },
                body: 
                    `email=${email}&content=${content}&date=${dateString}&time=${timeString}`
            }
            emailSend(email,content,dateString,timeString);
            
            fetch("/own", requestOptionsOwn)
            .then(response => {
                return(response.status);
            })
            .then(status => {
                if (status == 200) {
                    fetch("/notification", requestOptionsNotification)
                    .then(response => {
                        return(response.status);
                    })
                    .then(status => {
                        if (status == 200) {
                            swal("Successful", "You have a new notification!", "success");
                             const result= document.querySelector(".swal-button");
                       result.addEventListener('click',function () {
                        window.location.replace("http://localhost:8001/notifications");
                       });
                            
                        }
                    })
                }
                else {
                    alert("Error");
                }
            })
             })
            
            
        });
            
       
            
            
    }

    function deleteOld(){
        fetch(`/ticket/${old_id_string}`, {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            console.log(data);
            var ticket_old=JSON.parse(data);
            
            
            fetch(`/own`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "text/html"
                },
                body: `email=${email}&ticket_id=${old_id_string}&money=${-ticket_old[0].price}`
            })
            .then(response => {
                return(response.status);
            })
            .then(status => {
                if (status == 200) {
                    localStorage.removeItem('ticket_id_old');
                    
                }
                else {
                    alert("Error");
                }
            });
        })
        
       
          

    }
    //function exchange
    function exchange(ticketnew) {
        
        ownOldToNew(ticketnew);
        deleteOld()
    }

    // function xu ly khi nguoi dung chon 
    function pick(new_id_string){
        fetch(`/ticket/${new_id_string}`, {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            ticket = JSON.parse(data)[0];
            hienTicket(ticket,false);
        })

        exchange_div.onclick = function(){
         
            fetch(`/ticket/${new_id_string}`, {
                method: "GET",
            })
            .then(response => {
                return(response.text());
            })
            .then(data => {
                console.log(data);
                var ticket_new=JSON.parse(data);
                console.log(`exchang ${ticket_new}`);
                var result = confirm(`${data} Ban da chac chan?`);
                if(result){
                    exchange(new_id_string);
                }
                else{
                    window.location.reload();
                }
            })
        }
    }

    function renderTickets() {
        const ul = document.getElementById("tickets");
        ul.innerHTML = ""; // xoa cac element da co de them tu dau

        filteredTickets.forEach(ticket => {
            const a = document.createElement("a");
            a.className = "ticket";
            const ticketInfo = document.getElementById("ticket-info");
            if (old_id_string!==null) { // neu co old_id 
                a.onclick = function () {
                    new_id_string='';
                    new_id_string=new_id_string+ticket.ticket_id;
                    console.log(ticket.ticket_id);
                    
                    pick(new_id_string);
                    
                }
            } else {
                a.setAttribute("href", `http://localhost:8001/buy/${ticket.ticket_id}`);
            }
            a.textContent = ticket.seat;
            if (ticket.owned == "1") {
                a.className = "disabled";
            }
            ul.appendChild(a);
        });
    }

    fetch(`/flights/${id}`, {
        method: "GET",
    })
        .then(response => {
            return (response.text());
        })
        .then(data => {
            const flightData = JSON.parse(data)[0];
            document.getElementById("flight").innerText = flightData.flight_id;
            document.getElementById("from").innerText = flightData.from;
            document.getElementById("to").innerText = flightData.to;
            document.getElementById("airline").innerText = flightData.airline;
            document.getElementById("date").innerText = flightData.date;
            document.getElementById("time").innerText = flightData.time;
        })

    fetch(`/tickets/${id}`, {
        method: "GET",
    })
        .then(response => {
            return (response.text());
        })
        .then(data => {
            console.log(data);
            tickets = JSON.parse(data);
            filteredTickets = tickets;
            renderTickets();
        })

        fetch(`/unread/${email}`, {
            method: "GET",
        })
        .then(response => {
            return (response.text());
        })
        .then(data => {
            console.log(data);
            const unread = document.getElementById("unread");
            unread.innerText = JSON.parse(data)[0].count;
        })
//2. xu ly trang flight cua doi ve 
    function hienTicket(ticket,oldCheck) {

      
            var flightId = document.getElementById("flightOld");
            var from = document.getElementById("fromOld");
            var to = document.getElementById("toOld");
            var date = document.getElementById("dateOld");
            var time = document.getElementById("timeOld");
            var airline = document.getElementById("airlineOld");
            var ticketId = document.getElementById("ticketOld");
            var seat = document.getElementById("seatOld");
            var price = document.getElementById("priceOld");
        if(oldCheck===false){
             flightId = document.getElementById("flightNew");
             from = document.getElementById("fromNew");
             to = document.getElementById("toNew");
             date = document.getElementById("dateNew");
             time = document.getElementById("timeNew");
             airline = document.getElementById("airlineNew");
             ticketId = document.getElementById("ticketNew");
             seat = document.getElementById("seatNew");
             price = document.getElementById("priceNew");

        }
        console.log(`render3 ${ticket.ticket_id}`);
            flightId.innerText = ticket.flight_id;
            from.innerText = ticket.from;
            to.innerText = ticket.to;
            date.innerText = ticket.date;
            time.innerText = ticket.time;
            airline.innerText = ticket.airline;
            ticketId.innerText = ticket.ticket_id;
            seat.innerText = ticket.seat;
            price.innerText = ticket.price;
        };

        fetch(`/ticket/${old_id_string}`, {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            ticket = JSON.parse(data)[0];
            console.log(`reden ${data}`);
            hienTicket(ticket,1);
            
        })
        const ticketInformation = document.getElementById("ticket-information");
        const main=document.getElementById("main");
        if(old_id_string.length!==null){
            exchange_div.style.display='block';
            main.setAttribute('style','display:flex;');
            ticketInformation.setAttribute('style','display:flex; align-items:center; gap:3vw; ');


        }

    

</script>

</html>