<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../static/flight.css">
    <body>
        <h1>hello <span id="username"></span></h1>

        <a href="http://localhost:8001/login" class="auth">login</a>
        <a href="http://localhost:8001/register" class="auth">register</a>
        <a href="http://localhost:8001/inventory" class="nav">inventory</a>
        <a href="http://localhost:8001" onclick="logout()" class="nav">logout</a>

        <div id="flights-info">
            <div id="flight-info">
                <div class="flight-info-column">Flight: <span id="flight"></span></div>
                <div class="flight-info-column">From: <span id="from"></span></div>
                <div class="flight-info-column">To: <span id="to"></span></div>
                <div class="flight-info-column">Date: <span id="date"></span></div>
                <div class="flight-info-column">Time: <span id="time"></span></div>
            </div>
            <ul id="tickets"></ul>
        </div>
    </body>

    <script>
        const url = window.location.pathname;
        const id = url.split("/")[2];

        let tickets = [];
        let filteredTickets = [];

        // hien thi elements tuy thuoc vao trang thai dang nhap
        let username = localStorage.getItem("username");
        let authElements = document.querySelectorAll(".auth");
        let navElements = document.querySelectorAll(".nav");
        if (username != null) {
            document.getElementById("username").innerHTML = username;
            authElements.forEach(item => item.style.display = "none");
            navElements.forEach(item => item.style.display = "block");
        }
        else {
            authElements.forEach(item => item.style.display = "block");
            navElements.forEach(item => item.style.display = "none");
        }

        // xoa data nguoi dung duoc luu trong ls
        function logout() {
            localStorage.clear();
        }

        function filter() {
            let from = document.getElementById("from").value;
            let to = document.getElementById("to").value;
            let airline = document.getElementById("airline").value;
            let datetime= document.getElementById("datetime").value;
            filteredTickets = tickets;
            console.log(`from: ${from}, to: ${to}, datetime: ${datetime}`);
            if (from != "") {
                filteredTickets = filteredTickets.filter(flight => 
                    flight.from.includes(from));
            }
            if (to != "") {
                filteredTickets = filteredTickets.filter(flight => 
                    flight.to.includes(to));
            }
            if (airline != "") {
                filteredTickets = filteredTickets.filter(flight => 
                    flight.airline.includes(airline));
            }
            if (datetime != "") {
                filteredTickets = filteredTickets.filter(flight => 
                    Date.parse(datetime)== Date.parse(`${flight.date}T${flight.time}:00`));
            }
            renderTickets();
        }

        function renderTickets() {
            const ul = document.getElementById("tickets");
            ul.innerHTML = ""; // xoa cac element da co de them tu dau

            document.getElementById("flight").innerText = filteredTickets[0].flight_id;
            document.getElementById("from").innerText = filteredTickets[0].from;
            document.getElementById("to").innerText = filteredTickets[0].to;
            document.getElementById("date").innerText = filteredTickets[0].date;
            document.getElementById("time").innerText = filteredTickets[0].time;
            
            filteredTickets.forEach(ticket => {
                const a = document.createElement("a");
                a.className = "ticket";
                const ticketInfo = document.getElementById("ticket-info");
                a.setAttribute("href", `http://localhost:8001/buy/${ticket.ticket_id}`);
                a.textContent = ticket.seat;
                ul.appendChild(a);
            });
        }

        fetch(`/tickets/${id}`, {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            tickets = JSON.parse(data);
            filteredTickets = tickets;
            renderTickets();
        })
    </script>
</html>