<!DOCTYPE html>
<html>
    <body>
        <h1>hello <span id="username"></span></h1>
        <a href="http://localhost:8001" onclick="logout()">logout</a>
        <ul id="flights"></ul>
    </body>
    <script>
        let username = localStorage.getItem("username");
        document.getElementById("username").innerHTML = username;

        function logout() {
            localStorage.clear();
        }

        fetch("/flights", {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            const ul = document.getElementById("flights");
            data = JSON.parse(data);
            data.forEach(flight => {
                const li = document.createElement("li");
                li.className = "flight";
                for (const key in flight) {
                    const span = document.createElement("span");
                    span.textContent = flight[key];
                    li.appendChild(span);
                }
                ul.appendChild(li);
            });
        })
    </script>
</html>