<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../static/index.css">
    <body>
        <h1>hello <span id="username"></span></h1>

        <a href="http://localhost:8001/login" class="auth">login</a>
        <a href="http://localhost:8001/register" class="auth">register</a>
        <a href="http://localhost:8001" onclick="logout()" id="logout">logout</a>

        <div id="flights-info">
            <div id="flights-search">
                <input type="text" name="from" id="from" placeholder="From">
                <input type="text" name="to" id="to" placeholder="To">
                <input type="airline" name="airline" id="airline" placeholder="Airline">
                <input type="date" name="date" id="date" placeholder="Date">
                <button type="button" onclick="filter()">Filter</button>
            </div>
            <ul id="flights"></ul>
        </div>

    </body>

    <script>
        let flights = [];
        let filteredFlights = [];

        // show elements based on whether the user is logged in or not
        let username = localStorage.getItem("username");
        let authElements = document.querySelectorAll(".auth");
        let logoutElement = document.getElementById("logout");
        if (username != null) {
            document.getElementById("username").innerHTML = username;
            authElements.forEach(item => item.style.display = "none");
            logoutElement.style.display = "block";
        }
        else {
            authElements.forEach(item => item.style.display = "block");
            logoutElement.style.display = "none";
        }

        // clear user data in local storage
        function logout() {
            localStorage.clear();
        }

        function filter() {
            let from = document.getElementById("from").value;
            let to = document.getElementById("to").value;
            let airline = document.getElementById("airline").value;
            let date = document.getElementById("date").value;
            filteredFlights = flights;
            console.log(`from: ${from}, to: ${to}, date: ${date}`);
            if (from != "") {
                filteredFlights = filteredFlights.filter(flight => 
                    flight.from.includes(from));
            }
            if (to != "") {
                filteredFlights = filteredFlights.filter(flight => 
                    flight.to.includes(to));
            }
            if (airline != "") {
                filteredFlights = filteredFlights.filter(flight => 
                    flight.airline.includes(airline));
            }
            if (date != "") {
                filteredFlights = filteredFlights.filter(flight => 
                    Date.parse(flight.date) == Date.parse(date));
            }

            renderFlights();
        }

        function renderFlights() {
            const ul = document.getElementById("flights");
            ul.innerHTML = ""; // delete all the previous elements before adding new elements
            filteredFlights.forEach(flight => {
                const li = document.createElement("li");
                li.className = "flight";
                for (const key in flight) {
                    const span = document.createElement("span");
                    span.textContent = flight[key];
                    li.appendChild(span);
                }
                const a = document.createElement("a");
                a.setAttribute("href", `http://localhost:8001/tickets/${flight.flight_id}`);
                a.textContent = "tickets";
                li.appendChild(a);
                ul.appendChild(li);
            });
        }

        fetch("/flights", {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            flights = JSON.parse(data);
            filteredFlights = flights;
            renderFlights();
        })
    </script>
</html>