<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../static/index.css">
    <body>
        <h1>HELLO <span id="username"></span></h1>

        <a href="http://localhost:8001" class="home-link" >home</a>
        <a href="http://localhost:8001/login" class="auth" >login</a>
        <a href="http://localhost:8001/register" class="auth" >register</a>
        <a href="http://localhost:8001/inventory" class="nav" >inventory</a>
        <a href="http://localhost:8001/notifications" class="nav" >notifications</a>
        <a href="http://localhost:8001" onclick="logout()" class="nav" >logout</a>
    <hr>
        <div id="flights-info">
            <div id="flights-search">
                <input type="text" class="search" name="from" id="from" placeholder="From">
                <input type="text" class="search" name="to" id="to" placeholder="To">
                <input type="airline" class="search" name="airline" id="airline" placeholder="Airline">
                <input type="datetime-local" class="search" name="datetime" id="datetime">
                <button type="button" class="search" onclick="filter()">Filter</button>
                <select class="search" name="sort" id="sort" onchange="sortFlights()">
                    <option value="flight">Flight</option>
                    <option value="time">Time</option>
                    <option value="airline">Airline</option>
                </select>
            </div>
            <div id="flights-column">
                <span class="table-header">Flight</span>
                <span class="table-header">From</span>
                <span class="table-header">To</span>
                <span class="table-header">Date</span>
                <span class="table-header">Time</span>
                <span class="table-header">Airline</span>
            </div>
            <ul id="flights"></ul>
        </div>

    </body>

    <script>
        let flights = [];
        let filteredFlights = [];

        // hien thi elements tuy thuoc vao trang thai dang nhap
        let username = localStorage.getItem("username");
        let authElements = document.querySelectorAll(".auth");
        let navElements = document.querySelectorAll(".nav");
        if (username != null) {
            document.getElementById("username").innerHTML = username;
            authElements.forEach(item => item.style.display = "none");
            navElements.forEach(item => item.style.display = "block");
        }
        else {
            authElements.forEach(item => item.style.display = "block");
            navElements.forEach(item => item.style.display = "none");
        }

        // xoa data nguoi dung duoc luu trong ls
        function logout() {
            localStorage.clear();
        }

        function filter() {
            let from = document.getElementById("from").value;
            let to = document.getElementById("to").value;
            let airline = document.getElementById("airline").value;
            let datetime= document.getElementById("datetime").value;
            filteredFlights = flights;
            console.log(`from: ${from}, to: ${to}, datetime: ${datetime}`);
            if (from != "") {
                filteredFlights = filteredFlights.filter(flight => 
                    flight.from.includes(from));
            }
            if (to != "") {
                filteredFlights = filteredFlights.filter(flight => 
                    flight.to.includes(to));
            }
            if (airline != "") {
                filteredFlights = filteredFlights.filter(flight => 
                    flight.airline.includes(airline));
            }
            if (datetime != "") {
                filteredFlights = filteredFlights.filter(flight => 
                    Date.parse(datetime)== Date.parse(`${flight.date}T${flight.time}:00`));
            }
            renderFlights();
        }

        function renderFlights() {
            const ul = document.getElementById("flights");
            ul.innerHTML = ""; // xoa cac element da co de them tu dau
            filteredFlights.forEach(ticket => {
                const li = document.createElement("li");
                li.className = "ticket";
                for (const key in ticket) {
                    const span = document.createElement("span");
                    span.textContent = ticket[key];
                    li.appendChild(span);
                }
                const a = document.createElement("a");
                a.setAttribute("href", `http://localhost:8001/flight/${ticket.flight_id}`);
                a.innerHTML = "Book";
                li.appendChild(a);
                ul.appendChild(li);
            });
        }

        function sortFlights() {
            const select = document.getElementById("sort").value;
            console.log(select);
            switch (select) {
                case "flight":
                    filteredFlights.sort((a, b) => {
                        return a.flight_id > b.flight_id;
                    })
                    break;
                case "time":
                    console.log("sorting by time");
                    filteredFlights.sort((a, b) => {
                        return Date.parse(`${a.date}T${a.time}:00`) > Date.parse(`${b.date}T${b.time}:00`)
                    })
                    break;
                case "airline":
                    filteredFlights.sort((a, b) => {
                        return a.airline > b.airline;
                    })
                    break;
                default:
                    break;
            }
            renderFlights();
        }

        fetch("/flights", {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            flights = JSON.parse(data);
            filteredFlights = flights;
            renderFlights();
        })
    </script>
    <hr class="bottom-line">
</html>