<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../static/info.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <body>
        <div id="navbar">
            <div class="mainNav">
                <div class="logo">
                    <a href="http://localhost:8001">
                        <img src="https://img.freepik.com/premium-vector/eagle-logo-design_7888-349.jpg?w=2000" ></img>
                    </a>
                </div>
                
                <div id="navbar_list">
                    
                    <a href="http://localhost:8001">home</a>
                    <a href="http://localhost:8001/login" class="auth">login</a>
                    <a href="http://localhost:8001/register" class="auth">register</a>
                    <a href="http://localhost:8001/inventory" class="nav">inventory</a>
                    <a href="http://localhost:8001/notifications" class="nav">notifications(<span id="unread"></span>)</a>
                
                </div>
             </div>

            <div  id="account" class="nav">
                <div id="trigger"class="trigger" >
                    <div class="hello">
                        <h1>Hello <span id="email"></span></h1>
                    </div>
                    <div class="infoUser">
                        <div>Balance: $<span id="money"></span></div>
                        <div>Bonus: <span id="bonus"></span></div>
                    </div>
                </div>
                <div id="menu" class="menu"><a href="http://localhost:8001" onclick="logout()" >logout</a></div>

            </div> 
        </div>
        <div id="ticket-info" class="print">
            <div>Flight: <span id="flight"></span></div>
            <div>From: <span id="from"></span></div>
            <div>To: <span id="to"></span></div>
            <div>Date: <span id="date"></span></div>
            <div>Time: <span id="time"></span></div>
            <div>Airline: <span id="airline"></span></div>
            <div>Ticket: <span id="ticket"></span></div>
            <div>Seat: <span id="seat"></span></div>
            <div>Price: <span id="price"></span></div>
        </div>
        <div id="button-container">
            <button type="button" onclick="cancel()">Cancel</button>
            <button type="button" ><a id="exchange"style="text-decoration: none;">Exchange</a></button>
            <button type="button" onclick="print()">Print</button>
            <button type="button" id="generate" >QRcode</button>
        </div>
       
        <div class="body_qr"></div>
        <div id="down"> <a href="" id="download" download="QR_Code.png" style="text-decoration: none;">Download</a></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    </body>
    <script>
        //navbar
        const email = localStorage.getItem("email");
        const authElements = document.querySelectorAll(".auth");
        const navElements = document.querySelectorAll(".nav");
        if (email != "" && email != null) {
            document.getElementById("email").innerHTML = email;
            authElements.forEach(item => item.style.display = "none");
           

            fetch(`/unread/${email}`, {
                method: "GET",
            })
            .then(response => {
                return(response.text());
            })
            .then(data => {
                const user = JSON.parse(data)[0];
                const unread = document.getElementById("unread");
                unread.innerText = user.count;
            })
            fetch(`/user/${email}`, {
            method: "GET"
        })
        .then(response => {
            return response.text();
        })
        .then(data => {
            const user = JSON.parse(data)[0];
            const money = document.getElementById("money");
            money.innerText = user.money;
            const bonus=document.getElementById("bonus");
            bonus.innerText=user.bonus;
        })

        }
        else {
            authElements.forEach(item => item.style.display = "flex");
            navElements.forEach(item => item.style.display = "none");
        }
        // hien thi logout
        let checkMenu=false;
        document.getElementById("trigger").addEventListener('click',function() {
            checkMenu=!checkMenu;
            if(checkMenu===true){
                document.getElementById("menu").style.visibility="visible";
            }
            else{
                document.getElementById("menu").style.visibility="hidden";
            }

        });
        // xoa data nguoi dung duoc luu trong ls
        function logout() {
            localStorage.clear();
        }
        // xoa LocalStorage.item ticket_id_old 
        localStorage.removeItem('ticket_id_old');

        
        const url = window.location.pathname;
        const id = url.split("/")[2];
        const generate= document.getElementById('generate');
        const qrcodebox = document.querySelector('.body_qr');
        const down= document.querySelector('#down');
        const exchange=document.querySelector('#exchange');
        let ticket = {};
        // them thuoc tinh href
        exchange.setAttribute("href", `http://localhost:8001/exchange/${id}`);
     
        function renderTicket(ticket) {
            const flightId = document.getElementById("flight");
            const from = document.getElementById("from");
            const to = document.getElementById("to");
            const date = document.getElementById("date");
            const time = document.getElementById("time");
            const airline = document.getElementById("airline");
            const ticketId = document.getElementById("ticket");
            const seat = document.getElementById("seat");
            const price = document.getElementById("price");

            flightId.innerText = ticket.flight_id;
            from.innerText = ticket.from;
            to.innerText = ticket.to;
            date.innerText = ticket.date;
            time.innerText = ticket.time;
            airline.innerText = ticket.airline;
            ticketId.innerText = ticket.ticket_id;
            seat.innerText = ticket.seat;
            price.innerText = ticket.price;
        }
        
        fetch(`/ticket/${id}`, {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            ticket = JSON.parse(data)[0];
            renderTicket(ticket);
            textGen(ticket);
        })
        
        function cancel() {
            fetch(`/own`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "text/html"
                },
                body: `email=${email}&ticket_id=${id}&money=${-ticket.price / 2}`
            })
            .then(response => {
                return(response.status);
            })
            .then(status => {
                if (status == 200) {
                    window.location.replace("http://localhost:8001/inventory");
                }
                else {
                    alert("Error");
                }
            });
        }

        

        function print_ticket() {
            window.print();
        }
        //tao ma qr
        //dat hidden cho button download
        down.style.visibility='hidden';
        //lay info cho qr
        var qrInfo='';
        function textGen(ticket){
        
            for (let key in ticket) {
               
                qrInfo =qrInfo +ticket[key];
              
            }
            //bat su kien click tren nut tao qrcode
            generate.addEventListener('click',(e)=>{
            e.preventDefault();
            isEmpty(qrInfo);     
            down.style.visibility='visible'; // hien thi button download khi da hien thi qrcode

        });
        }
        //kiem tra info rong hay ko
        function isEmpty(qrInfo){
            qrInfo.length>0?generateQRCode(qrInfo):alert('no information');
        }
        //gennerate qr
        function generateQRCode(qrInfo){
            
            qrcodebox.innerHTML="";
            new QRCode(qrcodebox,{
                text:qrInfo,
                height:200,
                width:200,
                colorLight:"#fff",
                colorDark:"#000"
            });

        }
        //dowload qr
        download.addEventListener('click',()=>{
            let img=document.querySelector('.body_qr img');
            if(img !== null){
                let imgAtrr=img.getAttribute('src');
                
                    download.setAttribute("href",imgAtrr);
            }
        });
    </script>
    
</html>