<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../static/inventory.css">
    <body>
        <h1><span id="username"></span>'s tickets</h1>

        <a href="http://localhost:8001">home</a>

        <div id="tickets-info">
            <div id="tickets-search">
                <input type="text" name="from" id="from" placeholder="From">
                <input type="text" name="to" id="to" placeholder="To">
                <input type="airline" name="airline" id="airline" placeholder="Airline">
                <input type="datetime-local" name="datetime" id="datetime">
                <button type="button" onclick="filter()">Filter</button>
            </div>
            <div id="tickets-column">
                <span>Flight</span>
                <span>From</span>
                <span>To</span>
                <span>Date</span>
                <span>Time</span>
                <span>Airline</span>
                <span>Ticket</span>
                <span>Seat</span>
                <span>Price</span>
            </div>
            <ul id="tickets"></ul>
        </div>
    </body>
    <script>
        const username = localStorage.getItem("username");
        if (username == null) {
            window.location = "http://localhost:8001/login"
        }
        document.getElementById("username").innerHTML = username;
        
        let tickets = [];
        let filteredTickets = [];

        function filter() {
            let from = document.getElementById("from").value;
            let to = document.getElementById("to").value;
            let airline = document.getElementById("airline").value;
            let datetime= document.getElementById("datetime").value;
            filteredTickets = tickets;
            console.log(`from: ${from}, to: ${to}, datetime: ${datetime}`);
            if (from != "") {
                filteredTickets = filteredTickets.filter(flight => 
                    flight.from.includes(from));
            }
            if (to != "") {
                filteredTickets = filteredTickets.filter(flight => 
                    flight.to.includes(to));
            }
            if (airline != "") {
                filteredTickets = filteredTickets.filter(flight => 
                    flight.airline.includes(airline));
            }
            if (datetime != "") {
                filteredTickets = filteredTickets.filter(flight => 
                    Date.parse(datetime)== Date.parse(`${flight.date}T${flight.time}:00`));
            }
            renderTickets();
        }

        function renderTickets() {
            const ul = document.getElementById("tickets");
            ul.innerHTML = ""; // xoa cac element da co de them tu dau
            filteredTickets.forEach(ticket => {
                const li = document.createElement("li");
                li.className = "ticket";
                for (const key in ticket) {
                    const span = document.createElement("span");
                    span.textContent = ticket[key];
                    li.appendChild(span);
                }
                const a = document.createElement("a");
                a.setAttribute("href", `http://localhost:8001/info/${ticket.ticket_id}`);
                a.innerHTML = "Info";
                li.appendChild(a);
                ul.appendChild(li);
            });
        }

        fetch(`/inventory/${username}`, {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            tickets = JSON.parse(data);
            filteredTickets = tickets;
            renderTickets();
        })
    </script>
</html>