<!DOCTYPE html>
<html>
    <body>
        <h1>login</h1>
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="password" name="password" id="password" placeholder="Password">
        <button type="button" onclick="submit()">Submit</button>
        <script>
            function submit() {
                let username = document.getElementById("username").value;
                let password = document.getElementById("password").value;
                console.log(`username: ${username}, password: ${password}`);
                fetch("/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "text/html"
                    },
                    body: `username=${username}&password=${password}`
                })
                .then(response => {
                    return(response.text());
                })
                .then(data => {
                    if (data != "\r\n\r\n") {
                        window.location.replace("http://localhost:8001");
                    }
                    else {
                        alert("Invalid username or password");
                    }
                })
            }
        </script>
    </body>
</html>