<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../static/notifications.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <body>
        <div id="navbar">
            <div class="logo">
                <a href="http://localhost:8001">
                    <img src="https://img.freepik.com/premium-vector/eagle-logo-design_7888-349.jpg?w=2000" ></img>
                </a>
            </div>

            <div id="navbar_list">
            <a href="http://localhost:8001">home</a>
            <a href="http://localhost:8001/login" class="auth">login</a>
            <a href="http://localhost:8001/register" class="auth">register</a>
            <a href="http://localhost:8001/inventory" class="nav">inventory</a>
            <a href="http://localhost:8001/notifications" class="nav">notifications</a>
            
            </div>
            <div class="account">
                <div class="trigger" ><h1>Hello <span id="username"></span></h1></div>
                <div class="menu"><a href="http://localhost:8001" onclick="logout()" class="nav">Logout</a></div>

            </div> 
        </div>


        <button onclick="clearNotifications()">Clear</button>
        <ul id="notifications"></ul>
    </body>
    <script>
         //navbar
         const username = localStorage.getItem("username");
        const authElements = document.querySelectorAll(".auth");
        const navElements = document.querySelectorAll(".nav");
        if (username != "" && username != null) {
            document.getElementById("username").innerHTML = username;
            authElements.forEach(item => item.style.display = "none");
            navElements.forEach(item => item.style.display = "flex");
            fetch(`/unread/${username}`, {
                method: "GET",
            })
            .then(response => {
                return(response.text());
            })
            .then(data => {
                
                const unread = document.getElementById("unread");
                unread.innerText = user.count;
                const money = document.getElementById("money");
            })
            fetch(`/user/${username}`, {
            method: "GET"
        })
        .then(response => {
            return response.text();
        })
        .then(data => {
            const user = JSON.parse(data)[0];
            const money = document.getElementById("money");
            money.innerText = user.money;
        })
        }
        function logout() {
            localStorage.clear();
        }
        //
        

        const notificationsElement = document.getElementById("notifications");

        fetch(`/notification/${username}`, {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            const notifications = JSON.parse(data);
            notifications.forEach(notification => {
                const li = document.createElement("li");
                li.className = "notification";
                li.innerText = notification.content;

                const div = document.createElement("div");
                div.className = "datetime";
                div.innerText = `${notification.date} ${notification.time}`;
                li.appendChild(div);
                notificationsElement.appendChild(li);
            });
        })

        fetch(`/read/${username}`, {
            method: "PUT"
        })

        function clearNotifications() {
            fetch(`/notification/${username}`, {
                method: "DELETE",
            })
            .then(response => {
                return(response.text());
            })
            
            notificationsElement.innerText = "";
        }
    </script>
</html>