<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/ranking.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
    <div id="navbar">
        <div class="mainNav">
            <div class="logo">
                <a href="http://localhost:8001/manage/flights">
                    <img src="https://img.freepik.com/premium-vector/eagle-logo-design_7888-349.jpg?w=2000" ></img>
                </a>
            </div>
            
            <div id="navbar_list">
                
                <a href="http://localhost:8001/manage/flights">home</a>                   
                <a href="http://localhost:8001/manage/users">users</a>
                <a href="http://localhost:8001/manage/flights">flights</a>
                <a href="http://localhost:8001/manage/tickets" >tickets</a>
                <a href="http://localhost:8001/ranking">ranking</a>
            
            </div>
         </div>

        <div  id="account" class="nav">
            <div id="trigger"class="trigger" >
                <div class="hello">
                    <h1>Hello <span id="email"></span></h1>
                </div>
             
            </div>
            <div id="menu" class="menu"><a href="http://localhost:8001" onclick="logout()" >logout</a>
                <a href="http://localhost:8001/changepass"> Change password</a></div>

        </div> 
    </div>
  
        <div id="users-column">
            <span>Email</span>
            <span>Tickets bought this month</span>
        </div>
        </div>
            <ul id="users"></ul>
        </div>

    

    <script>
        const userTicketCount = {};

        //navbar
        // navbar
const email = localStorage.getItem("email");
fetch(`/user/${email}`, {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            user = JSON.parse(data);
           
           localStorage.setItem('roll',user[0].type);
        })
      const roll =localStorage.getItem('roll');

        if(roll==0){
            window.location.replace('http://localhost:8001');
        }
        const authElements = document.querySelectorAll(".auth");
        const navElements = document.querySelectorAll(".nav");
        if (email != "" && email != null) {
            document.getElementById("email").innerHTML = email;

        }
        else {
            window.location.replace("http://localhost:8001");
        }
        // hien thi logout
        let checkMenu=false;
        document.getElementById("trigger").addEventListener('click',function() {
            checkMenu=!checkMenu;
            if(checkMenu===true){
                document.getElementById("menu").style.visibility="visible";
            }
            else{
                document.getElementById("menu").style.visibility="hidden";
            }

        });
        // xoa data nguoi dung duoc luu trong ls
        function logout() {
            localStorage.clear();
        }
        // xoa LocalStorage.item ticket_id_old 
        localStorage.removeItem('ticket_id_old');


        //
        
        fetch("/owns", {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            const users = JSON.parse(data);
            console.log(users);
            
            users.forEach(user => {
                const date = new Date(user.book_date);
                const currentDate = new Date();

                if (date.getMonth() == currentDate.getMonth()) {
                    userTicketCount[user.email] = user.email in userTicketCount ? userTicketCount[user.email] + 1 : 1;
                }
            });
            renderUsers();
        });

        function renderUsers() {
            const ul = document.getElementById("users");
            ul.innerHTML = ""; // xoa cac element da co de them tu dau
            const keys = Object.keys(userTicketCount).sort((a, b) => userTicketCount[b] - userTicketCount[a]);
            keys.forEach(user => {
                const li = document.createElement("li");
                li.className = "user";

                const email = document.createElement("span");
                email.textContent = user;

                const count = document.createElement("span");
                count.textContent = userTicketCount[user];

                li.appendChild(email);
                li.appendChild(count);
                ul.appendChild(li);
            });
        }
    </script>
    </body>
</html>