<!DOCTYPE html>
<html>
    <body>
        <link href="../static/register.css" rel="stylesheet"/>
        <h1>REGISTER</h1>
        <input class="username" type="text" name="username" id="username" placeholder="Username" size="50"><br>
        <input class="password" type="password" name="password" id="password" placeholder="Password" size="50"><br>
        <input class="confirm" type="password" name="confirm" id="confirm" placeholder="Confirm password" size="50"><br>
        <button class="button" type="button" onclick="submit()">Submit</button>
        <script>
            function submit() {
                let username = document.getElementById("username").value;
                let password = document.getElementById("password").value;
                let confirm = document.getElementById("confirm").value;
                console.log(`username: ${username}, password: ${password}`);
                fetch("/register", {
                    method: "POST",
                    headers: {
                        "Content-Type": "text/html"
                    },
                    body: `username=${username}&password=${password}&confirm=${confirm}`
                })
                .then(response => {
                    return(response.status);
                })
                .then(status => {
                    if (status == 200) {
                        window.location.replace("http://localhost:8001/login");
                    }
                    else {
                        alert("Invalid username or password");
                    }
                })
            }
        </script>
    </body>
</html>