<!DOCTYPE html>
<html>
    <body>
        <h1>register</h1>
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="password" name="confirm" id="confirm" placeholder="Confirm password">
        <button type="button" onclick="submit()">Submit</button>
        <script>
            function submit() {
                let email = document.getElementById("email").value;
                let password = document.getElementById("password").value;
                let confirm = document.getElementById("confirm").value;
                fetch("/register", {
                    method: "POST",
                    headers: {
                        "Content-Type": "text/html"
                    },
                    body: `email=${email}&password=${password}&confirm=${confirm}`
                })
                .then(response => {
                    return(response.status);
                })
                .then(status => {
                    if (status == 200) {
                        window.location.replace("http://localhost:8001/login");
                    }
                    else {
                        alert("Invalid email or password");
                    }
                })
            }
        </script>
    </body>
</html>