<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/reset_password.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


  <div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
            <div class="panel panel-info" id="changeMain">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-th"></span>
                        Change password   
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row" id="mainContent">
                        <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box" id="imageChange"> <br>
                           <img alt="" class="img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar1.png">                        
                        </div>
                        <div  class="col-xs-6 col-sm-6 col-md-6 login-box" id="mainInfo">
                          <div class="form-group">
                            <label  >Email</label>
                              <div class="input-group">
                                <div class="input-group-addon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                                </svg></div>
                                <input id="email" class="form-control" type="email" placeholder="Email">
                              </div>
                            </div>
                         <div class="form-group">
                          <label  >PINd</label>
                            <div class="input-group">
                              <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                              <input id="pin" class="form-control" type="text" placeholder="PIN" disabled>
                             
              
                            
                              <div class="input-group-addon " >
                                <svg xmlns="http://www.w3.org/2000/svg" id="tick" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" id="send" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                              </svg>
                            </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label  >New Password</label>
                            <div class="input-group pass_show" id="pass_show">
                              <div class="input-group-addon" id="pass_c"><span class="glyphicon glyphicon-log-in"></span></div>
                              <input id="newPass" class="form-control" type="password" placeholder="New Password">
                            </div>
                          </div>
                          <div class="form-group">
                            <label  >Confirm Password</label>
                            <div  class="input-group pass_show" id="pass_show">
                              
                              <div class="input-group-addon"id="pass_c"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                              </svg></div>
                              <input id="confirmPass"class="form-control" type="password" placeholder="Confirm Password">
                            </div>
                          </div>
                          <div id="noti"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6"></div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button  id="save" class="btn icon-btn-save btn-success" type="submit" >
                            <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
  //pass show
  $(document).ready(function(){
$('.pass_show').append('<span class="ptxt">Show</span>');  
});
  

$(document).on('click','.pass_show .ptxt', function(){ 

$(this).text($(this).text() == "Show" ? "Hide" : "Show"); 

$(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 

});

  const noti=document.getElementById('noti');
  //hienthi thong bao
  function showNoti(content){
    noti.style.display="block";
    noti.innerHTML=content;
  }
  //changePass
  function changePass(email,newPass){
    fetch('/password',{
          method: "PUT",
          headers: {
                        "Content-Type": "text/html"
            },
                    body: 
                        `email=${email}&password=${newPass}`
                    });
                    swal("Successful", "Already reset your password", "success");
                   const result= document.querySelector(".swal-button");
                       result.addEventListener('click',function () {
                        window.location.replace("http://localhost:8001/login");
                       });
          

  }
  //random
  function generateRandomString() {
  var randomString = '';
  for (var i = 0; i < 6; i++) {
    var randomNumber = Math.floor(Math.random() * 10); // Sinh số ngẫu nhiên từ 0 đến 9
    randomString += randomNumber.toString();
  }
  return randomString;
}
    const send=document.getElementById('send');
    const tick=document.getElementById('tick');
  //gui email
  function emailSend(email,content,dateString,timeString){
        Email.send({
            Host : "smtp.elasticemail.com",
            Username : "jadeuma235@gmail.com",
            Password : "CB0F1191C63097515935CD75726D0430C710",
            To : email,
            From : "jadeuma235@gmail.com",
            Subject : `Yeu cau reset mat khau: ${dateString} time : ${timeString}` ,
            Body : content,
            }).then(
            message => {

                console.log(message);
            
            }
        );
    }
    
    //chua nhan send ma nhan save
    const pin=document.getElementById('pin').value;
    const save=document.getElementById('save');
    if(pin===''){
    save.addEventListener('click',function() {
      const email=document.getElementById('email').value;
      const pin=document.getElementById('pin').value;
      let content="";
      if(email===''){
              content="Email is wrong!";
            showNoti(content);
      }
      else{
        if(pin===''){
        content="You must input pin!";
        showNoti(content);
        }  
      }
    })
  }
  send.addEventListener('click', function() {
        const email=document.getElementById('email').value;
        
        if(email==''){
            showNoti("You must input email")
        }
        else{
        const date = new Date();
            const dateString = date.toISOString().split('T')[0];
            const timeString = date.toLocaleTimeString('en-US', {
                hour12: false,
                hour: "numeric",
                minute: "numeric"
            });
            const  random =   generateRandomString();
            console.log(`duudu ${random}`);
            const content=`Day la ma pin de dung reset lai mat khau: \n ${random} \n Xin vui long khong cung cap cho nguoi khac `;
            emailSend(email,content,dateString,timeString);
            setTimeout(function() {
        send.style.display = 'none';
        tick.style.display='block';
    
    // Hiện thẻ div sau 2 giây nữa
    setTimeout(function() {
      send.style.display = 'block';
      tick.style.display='none';
         }, 3000);
     }, 3000);
        
        document.getElementById('pin').disabled=false;
        save.addEventListener('click',  function() {
          let content='';
          console.log(`dep trai ${random}`);
          const email=document.getElementById('email').value;
          const pin =document.getElementById('pin').value;
          const newPass=document.getElementById('newPass').value;
          const confirmPass=document.getElementById('confirmPass').value;
          fetch(`/user/${email}`, {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
  
            user = JSON.parse(data);
            if(user.length===0){
              content="Wrong email!"
              showNoti(content);
            }
          else{
            if(random!==pin){
              content="Pin is wrong!"
              showNoti(content);
            }
            else{
              if(newPass===''){
                content="Phai nhap mat khau moi"
                showNoti(content);
              }
              else{
              if(newPass!==confirmPass){
                content="Confirm password is differnt from New password!"
                showNoti(content);
              }
              else{
                changePass(email,newPass);
              }
            }
            }
          }
        })

        })
      }
        
    })
 

</script>
</body>
</html>