<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../static/users.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <body>
        <div id="navbar">
            <div class="mainNav">
                <div class="logo">
                    <a href="http://localhost:8001/manage/flights">
                        <img src="https://img.freepik.com/premium-vector/eagle-logo-design_7888-349.jpg?w=2000" ></img>
                    </a>
                </div>
                
                <div id="navbar_list">
                    
                    <a href="http://localhost:8001/manage/flights">home</a>                   
                    <a href="http://localhost:8001/manage/users">users</a>
                    <a href="http://localhost:8001/manage/flights">flights</a>
                    <a href="http://localhost:8001/manage/tickets" >tickets</a>
                
                </div>
             </div>

            <div  id="account" class="nav">
                <div id="trigger"class="trigger" >
                    <div class="hello">
                        <h1>Hello <span id="email"></span></h1>
                    </div>
                 
                </div>
                <div id="menu" class="menu"><a href="http://localhost:8001" onclick="logout()" >logout</a></div>

            </div> 
        </div>
    
        <div id="manage">
            


            <ul id="users"></ul>
        </div>
    </body>
    <script>
        // navbar
    const email = localStorage.getItem("email");
    fetch(`/user/${email}`, {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            user = JSON.parse(data);
           
           localStorage.setItem('roll',user[0].type);
        })
      const roll =localStorage.getItem('roll');

        if(roll==0){
            window.location.replace('http://localhost:8001');
        }
        const authElements = document.querySelectorAll(".auth");
        const navElements = document.querySelectorAll(".nav");
        if (email != "" && email != null) {
            document.getElementById("email").innerHTML = email;

        }
        else {
            window.location.replace("http://localhost:8001");
        }
        // hien thi logout
        let checkMenu=false;
        document.getElementById("trigger").addEventListener('click',function() {
            checkMenu=!checkMenu;
            if(checkMenu===true){
                document.getElementById("menu").style.visibility="visible";
            }
            else{
                document.getElementById("menu").style.visibility="hidden";
            }

        });
        // xoa data nguoi dung duoc luu trong ls
        function logout() {
            localStorage.clear();
        }
        // xoa LocalStorage.item ticket_id_old 
        localStorage.removeItem('ticket_id_old');

//
       
        let users = [];

        if (email != "admin") {
            const manage = document.getElementById("manage");
            manage.innerText = "";
        }

        fetch("/users", {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            users = JSON.parse(data);
            const ul = document.getElementById("users");
            ul.innerHTML = ""; // xoa cac element da co de them tu dau
            users.forEach(user => {
                const li = document.createElement("li");
                li.className = "user";

                const email = document.createElement("span");
                email.textContent = user.email;

                if (user.type == "1") {
                    li.id = "admin";
                }

                li.appendChild(email);

                const changeType = document.createElement("button");
                changeType.addEventListener("click", e => {
                    const newType = user.type == "1" ? "0" : "1";
                    fetch('/users', {
                        method: "PUT",
                        headers: {
                            "Content-Type": "text/html"
                        },
                        body: `email=${user.email}&type=${newType}`
                    })
                    .then(response => {
                        return response.status;
                    })
                    .then(status => {
                        if (status == 200) {
                            alert("User updated successfully");
                            window.location.reload();
                        }
                        else {
                            alert("Error");
                        }
                    });
                });
                changeType.innerText = "Make admin";

                const deleteUser = document.createElement("button");
                deleteUser.addEventListener("click", e => {
                    fetch(`/users/${user.email}`, {
                        method: "DELETE",
                    })
                    .then(response => {
                        return response.status;
                    })
                    .then(status => {
                        if (status == 200) {
                            alert("User deleted successfully");
                            window.location.reload();
                        }
                        else {
                            alert("Error");
                        }
                    });
                });
                deleteUser.innerText = "Delete";
                deleteUser.id = "delete";

                const buttonContainer = document.createElement("div");
                buttonContainer.id = "button-container";

                buttonContainer.appendChild(changeType);
                buttonContainer.appendChild(deleteUser);
                li.appendChild(buttonContainer);
                ul.appendChild(li);
            });
        })
    </script>
</html>