<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../static/users.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <body>
        <div id="manage">
            <div id="navbar">
                <a href="http://localhost:8001">home</a>
                <a href="http://localhost:8001/manage/users">users</a>
                <a href="http://localhost:8001/manage/flights">flights</a>
            </div>
            <ul id="users"></ul>
        </div>
    </body>
    <script>
        const email = localStorage.getItem("email");
        let users = [];

        if (email != "admin") {
            const manage = document.getElementById("manage");
            manage.innerText = "";
        }

        fetch("/users", {
            method: "GET",
        })
        .then(response => {
            return(response.text());
        })
        .then(data => {
            users = JSON.parse(data);
            const ul = document.getElementById("users");
            ul.innerHTML = ""; // xoa cac element da co de them tu dau
            users.forEach(user => {
                const li = document.createElement("li");
                li.className = "user";

                const email = document.createElement("span");
                email.textContent = user.email;

                if (user.type == "1") {
                    li.id = "admin";
                }

                li.appendChild(email);

                const changeType = document.createElement("button");
                changeType.addEventListener("click", e => {
                    const newType = user.type == "1" ? "0" : "1";
                    fetch('/users', {
                        method: "PUT",
                        headers: {
                            "Content-Type": "text/html"
                        },
                        body: `email=${user.email}&type=${newType}`
                    })
                    .then(response => {
                        return response.status;
                    })
                    .then(status => {
                        if (status == 200) {
                            alert("User updated successfully");
                            window.location.reload();
                        }
                        else {
                            alert("Error");
                        }
                    });
                });
                changeType.innerText = "Make admin";

                const deleteUser = document.createElement("button");
                deleteUser.addEventListener("click", e => {
                    fetch(`/users/${user.email}`, {
                        method: "DELETE",
                    })
                    .then(response => {
                        return response.status;
                    })
                    .then(status => {
                        if (status == 200) {
                            alert("User deleted successfully");
                            window.location.reload();
                        }
                        else {
                            alert("Error");
                        }
                    });
                });
                deleteUser.innerText = "Delete";
                deleteUser.id = "delete";

                const buttonContainer = document.createElement("div");
                buttonContainer.id = "button-container";

                buttonContainer.appendChild(changeType);
                buttonContainer.appendChild(deleteUser);
                li.appendChild(buttonContainer);
                ul.appendChild(li);
            });
        })
    </script>
</html>